{
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src/lib", "src"],
                "moduleDirectory": ["node_modules", "src/lib", "src"]
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "extends": ["airbnb", "prettier", "plugin:lola/standard"],
    "parser": "babel-eslint",
    "plugins": ["prettier", "lola"],
    "rules": {
        "class-methods-use-this": 0,
        "no-shadow": [
            "error",
            {
                "allow": ["styles"]
            }
        ],
        "react/prefer-stateless-function": 0,
        "react/jsx-indent": 0,
        "react/no-did-update-set-state": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/jsx-fragments": ["error"],
        "react/prop-types": [
            "error",
            {
                "ignore": ["children"]
            }
        ],
        "react/sort-comp": [
            "error",
            {
                "order": ["static-methods", "lifecycle", "everything-else", "/^render.+$/", "render"]
            }
        ],
        "react/no-direct-mutation-state": ["error"],
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 4,
                "singleQuote": true,
                "printWidth": 120
            }
        ],
        "import/extensions": [
            "error",
            {
                "js": "never"
            }
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "import/prefer-default-export": 0,

        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["to"]
            }
        ],
        "no-restricted-imports": [
            "error",
            {
                "paths": ["lodash"],
                "patterns": ["works/*", "!works/app"]
            }
        ],
        "lola/required-exports": [
            "error",
            [
                {
                    "match": "^.*(/pages/|/components/).*/index.js",
                    "exports": [":dir:"]
                },
                {
                    "match": "^.*(/pages/|/components/).*/ui.js",
                    "exports": [":dir:UI"]
                },
                {
                    "match": "^.*(/pages/|/components/).*/styles.js",
                    "exports": ["styles"]
                },
                {
                    "match": "^.*(/pages/|/components/).*/container.js",
                    "exports": [":dir:", ":dir:Container"]
                }
            ]
        ]
    },
    "overrides": [
        {
            "files": ["src/**/ui.js"],
            "rules": {
                "react/no-set-state": "error"
            }
        }
    ],
    "env": {
        "jest": true,
        "browser": true
    }
}
