.tripCard {
    width: 100%;
    margin-top: 8px;
    padding: 18px;
    border-bottom: 1px solid #888;
    background-color: white;
    box-sizing: border-box
}

.tripImage {
    width: 100%;
    height: 180px;
    margin-bottom: 8px;
}

.nameText {
    margin: 0;
}

.uppercase{
    color: #888;
    font-weight: 700;
    text-transform: uppercase;
}

.datesText {
    color: #888;
    font-weight: 700;
}

text {
    display: block;
    margin-top: 4px;
    font-size: 14px;
}