.headerContainer {
    display: flex;
    height: 85px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.verticallyCentered {
    align-items: center;
    display: flex;
}

.menuList {
    display: flex;
    list-style-type: none;
}

span {
    color: white;
    font-weight: bold;
    font-size: 14px;
}
li {
    padding-right: 30px;
}

.menuItem {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.menuItem:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.underline {
    border-bottom: 1px solid white;
}

.chevronContainer {
    margin-left: 5px;
}

.filterMenu {
    align-items: center;
    display: flex;
}

.filterMenu:hover {
    cursor: pointer;
}